body {
    background-color: darkblue;
}

.debug [class^=col] {
    border: 1px solid black;
}

#app_header{
    height: 80px;
}


#sidebar {
    width: 10%;
    height: calc(100vh - 69.6px);
    margin: 0;
}