body {
    background-color: darkblue;
}

.debug [class^=col] {
    border: 1px solid black;
}

#app_header{
    height: 69.9px;
}


#sidebar {
    width: 60px;
    height: calc(100vh - 69.9px);
    margin: 0;
}