body {
    background-color: darkblue;
}

/* img{
    width: 100%;
} */

.debug [class^=col] {
    border: 1px solid white;
}

#app_header{
    height: 69.9px;
}

#sidebar {
    background-color: black;
    width: 60px;
    height: calc(100vh - 69.9px);
    background-image: url(../img/sidebar-bg.png);
}

.main_top{
    width: calc(100vw - 60px );
}